{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="content">
        <div class="left">
            Lorem Ipsum<br><br>

            Temporeicipsa verferovit voluptam re natiam de verum anto id magniti consequo dolore comnis auditia quidend endemque natur? Quis cus vellitat et ressit, uteturest qui optius aliquatur?
            Sed quae consed et earit, quo eatur saeptam, vento voluptatus solum commodi consed quis quos seriam excererios sincimi nveliqu ideliqui assust, to beatum re idipsum quia cone cusaped miliquias etur aut et quod et volore ipsamet, to omniatur a voluptate exere pratus aute doluptatquam quat quis essiminis ea comni natque labo. 
        </div>
        <div class="center">
            <div><a href=""><img src="/assets/picture/menu/notre_suivi.jpg"></a></div>
            <div><a href="/receipe"><img src="/assets/picture/menu/recettes.jpg"></a></div>
            <div><a href=""><img src="/assets/picture/menu/on_ a_teste.jpg"></a></div>
            <div><a href=""><img src="/assets/picture/menu/et_puis.jpg"></a></div>
        </div>
    </div>
{% endblock %}